@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@layer base {
  .blur-cover {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(7px);
  }

  .prose h1 {
    @apply mt-20 pb-10 mb-10 border border-t-0 border-r-0 border-l-0 !important;
  }

  a:focus {
    @apply no-underline outline-none rounded bg-blue-600 text-white !important;
  }
}
