@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@layer base {
  .markdown-body h1 {
    margin: unset;
  }

  nav {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(7px);
  }

  h1,
  .markdown-body h1 {
    @apply text-2xl py-10 mb-10 border border-t-0 border-r-0 border-l-0;
  }

  h2 {
    @apply text-xl;
  }

  p {
    @apply my-8 leading-7;
  }

  a:focus {
    @apply no-underline outline-none rounded bg-blue-600 text-white !important;
  }

  /**
   * markdown-body patch
   */
  .markdown-body {
    @apply font-mono leading-7;
  }
}
