@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@layer base {
  h1 {
    @apply text-2xl mt-4 mb-8;
  }

  h2 {
    @apply text-xl;
  }

  p {
    @apply my-8 leading-7;
  }

  a:focus {
    @apply no-underline outline-none rounded bg-blue-600 text-white;
  }
}
